<!-- 
<div class="row">

    <div class="col text-center">

        <div ngbDropdown  class="d-inline-block center-block" >
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Please select the insurance type
            </button>
            <div class="dropdown-menu text-center"  aria-labelledby="dropdownBasic1" >      
              <button class="dropdown-item" (click)="compType()">Comprehensive</button>
              <button class="dropdown-item" (click)="thirdType()">Third-Part</button>
            </div>
        </div>
        
      </div>
      
      
</div> -->
<div class="full-height" [ngStyle]="{'background-image': getUrl()}">  
    
  <div class="insurance-message">
    <div class="text-center">
      <select (change)="selectChangeHandler($event)">
          <option disabled selected>Please select the insurance type</option>
          <option value="compType" >Comprehensive</option>
          <option value="thirdType" >Third-Part</option>
      </select> 
  </div>
  </div>
  
</div>



<!-- testingGateway -->

<!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-checkout-btn"></div> -->

<!-- paynow -->
<!-- <a href='https://www.paynow.co.zw/Payment/Link/?q=c2VhcmNoPW5pZ2VscGFuYXNoZW1ha3dhcmElNDBnbWFpbC5jb20mYW1vdW50PTAuMDAmcmVmZXJlbmNlPSZsPTA%3d' 
  target='_blank'><img src='https://www.paynow.co.zw/Content/Buttons/Medium_buttons/button_pay-now_medium.png' style='border:0' 
  (click)="compType()"/>
  Pay Insurance
</a> -->


  
