select{
    border: 1px solid #777;
    padding: .8rem 3rem .8rem .5rem;
    border-radius: 3px;
    border-color: blue;
    color: #565656
}
.full-height {
    height: 100vh;
}


.insurance-message {
   
    padding-top: 250px;
    vertical-align: middle;
}