<div class="full-height">
    <div class="card container form-container">
            <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="text-center border border-light p-5">
        
                <p class="h4 mb-4">Vehicle Details</p>
        
        
                <!-- engin_num -->
                <input type="text" 
                id="defaultRegisterFormEngineNum" 
                class="form-control mb-4" 
                placeholder="Engine num"
                [(ngModel)]="vehicle.engine_number" 
                name="engineNum"
                
                maxlength="50"
                #engineNum="ngModel" 
                required>
        
                <div *ngIf = "engineNum.touched" class="invalid-input">
                    <div *ngIf = "engineNum.errors?.required" class="alert alert-danger">
                        Engine number is required
                    </div>
                </div>
        
                <!-- make -->
                <input type="text" 
                id="defaultRegisterFormMake" 
                class="form-control mb-4" 
                placeholder="Make"
                [(ngModel)]="vehicle.make" 
                name="make"
                
                maxlength="30"
                #make="ngModel" 
                required>
        
                <div *ngIf = "make.touched" class="invalid-input">
                    <div *ngIf = "make.errors?.required" class="alert alert-danger">
                        Make number is required
                    </div>
                </div>
        
                
                <!-- model -->
                <input type="text" 
                id="defaultRegisterFormModel" 
                class="form-control mb-4" 
                placeholder="Model"
                [(ngModel)]="vehicle.model" 
                name="model"
                
                #model="ngModel" 
                required>
        
                <div *ngIf = "model.touched" class="invalid-input">
                    <div *ngIf = "model.errors?.required" class="alert alert-danger">
                        Model number is required
                    </div>
                </div>
        
        
                <!-- manufacture year -->
                <input type="text" 
                id="defaultRegisterManufactureYear" 
                class="form-control mb-4" 
                placeholder="Manufacture year"
                [(ngModel)]="vehicle.manufacture_year" 
                name="manufactureYear"
                
                minlength="4" 
                maxlength="4"
                #manufactureYear="ngModel"               
                required>
        
                <div *ngIf="manufactureYear.errors?.minlength" [ngClass]="'alert alert-danger'">
                    Invalid Year
               </div>
                <div *ngIf = "manufactureYear.touched" class="invalid-input">
                    <div *ngIf = "manufactureYear.errors?.required" class="alert alert-danger">
                        Manufacture year is required
                    </div>
                    
                </div>

                     
        
                <!-- chasis number -->
                <input type="text" 
                id="defaultRegisterFormCapacity" 
                class="form-control mb-4" 
                placeholder="chasis number"
                [(ngModel)]="vehicle.chasis_number" 
                name="chasisNum"
                
                #chasisNum="ngModel" 
                required>
        
                <div *ngIf = "chasisNum.touched" class="invalid-input">
                    <div *ngIf = "chasisNum.errors?.required" class="alert alert-danger">
                        Chasis number is required
                    </div>
                </div>
                
                <!-- cubic capacity -->
                <input type="text" 
                id="defaultRegisterFormCapacity" 
                class="form-control mb-4" 
                placeholder="Cubic capacity"
                [(ngModel)]="vehicle.cubic_capacity" 
                name="cubicCap"
                
                maxlength="3"
                #cubicCap="ngModel" 
                required>
        
                <div *ngIf = "cubicCap.touched" class="invalid-input">
                    <div *ngIf = "cubicCap.errors?.required" class="alert alert-danger">
                        Cubic capacity number is required
                    </div>
                </div>
        
        
        
        
                <!-- value -->
                <input type="text" 
                id="defaultRegisterFormValue" 
                class="form-control mb-4" 
                placeholder="Value"
                [(ngModel)]="vehicle.vehicle_value" 
                name="vehicleValue"
                
                maxlength="10"
                #vehicleValue="ngModel" 
                required>
        
                <div *ngIf = "vehicleValue.touched" class="invalid-input">
                    <div *ngIf = "vehicleValue.errors?.required" class="alert alert-danger">
                        Value is required
                    </div>
                </div>
        
        
        
                <!-- clientId -->
                <input type="number" disabled class="form-control mb-4" 
                [(ngModel)]="vehicle.client_id" placeholder="Your Client Id is {{client}}" name="client_id">
        
                
        
                <button 
                    type="submit"
                    class='btn btn-outline-primary btn-lg'
                    [disabled]="!f.form.valid"
                    *ngIf="!submitted">
                    Submit Details    
                </button>
        
                <div
                    *ngIf="submitted"
                    class="alert alert-success"
                    role="alert"
                >
                Client details saved 
                    <a routerLink="/insurance" 
                    class="alert-link" 
                    value="Create">Click to select insurance type
                    </a>
                </div>
        
                <hr>
        
                <!-- Terms of service -->
                <p>By clicking
                    <em>Submit</em> you agree to our
                    <a target="_blank">terms of service</a>
        
            </form>
        </div>
</div>






