
<div class="full-height">
    <div class="card container form-container">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="text-center border border-light p-5">
    
            <p class="h4 mb-4">Corporate Details</p>
        
            <!-- clientId
            <input type="text" id="defaultRegisterFormClientId" class="form-control mb-4" placeholder="Client id"
              [(ngModel)]="client.client_id" name="clientId"> -->
        
            <!-- Corp Name -->
            <input type="text" 
              id="corpName" 
              class="form-control mb-4"
              placeholder="Corporate name"
              [(ngModel)]="client.client_name" 
              name="corpName"
              
              #corpName="ngModel" 
              required>
        
            <div *ngIf = "corpName.touched" class="invalid-input">
              <div *ngIf = "corpName.errors?.required" class="alert alert-danger">
                Corporate name is required
              </div>
            </div>
        
            <!-- Phone number -->
            <input type="text" 
              id="defaultRegisterPhoneNumber" 
              class="form-control mb-4" 
              placeholder="Phone number" 
              aria-describedby="defaultRegisterFormPhoneHelpBlock"
              [(ngModel)]="client.contact_num" 
              name="phoneNum"
              
              #phoneNum="ngModel" 
              required>
        
            <div *ngIf = "phoneNum.touched" class="invalid-input">
              <div *ngIf = "phoneNum.errors?.required" class="alert alert-danger">
                Contact number is required
              </div>
            </div>
            
            <!-- E-mail -->
            <input type="text" 
              id="defaultRegisterFormEmail" 
              class="form-control mb-4" 
              placeholder="E-mail"
              [(ngModel)]="client.email_address" 
              name="emailAddress"
              
              #email = "ngModel"
              required>
        
            <div *ngIf = "email.touched" class="invalid-input">
              <div *ngIf = "email.errors?.required" class="alert alert-danger">
                Email address is required
              </div>
              <div *ngIf = "email.errors?.email" class="alert alert-danger">
                Email address is not valid
              </div>
            </div>
        
            <!-- Address -->
            <input type="text" 
              id="defaultRegisterFormAddress" 
              class="form-control mb-4" 
              placeholder="Address"
              [(ngModel)]="client.address" name="address"
              
              #address = "ngModel"
              required>
        
            <div *ngIf = "address.touched" class="invalid-input">
              <div *ngIf = "address.errors?.required" class="alert alert-danger">
                Contact number is required
              </div>
            </div>
        
            <button 
              type="submit"
              class='btn btn-outline-primary btn-lg'
              [disabled]="!f.form.valid"
              *ngIf="!submitted">
              Submit Details    
            </button>
        
            <div
              *ngIf="submitted"
              class="alert alert-success"
              role="alert"
            >
            Client details saved 
                <a routerLink="/vehicles" 
                class="alert-link" 
                value="Create">Click to enter VEHICLE details
                </a>
            </div>
           
        
        
            <hr>
        
            <!-- Terms of service -->
            <p>By clicking
                <em>Submit</em> you agree to our
                <a target="_blank">terms of service</a>
        
        </form>
    </div>
</div>




