<!-- Default form register -->
<div class="full-height">
    <div class="card container form-container">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="text-center border border-light p-5" >
    
            <p class="h4 mb-4">Client Details</p>
        
            <!-- clientId
            <input type="text" id="defaultRegisterFormClientId" class="form-control mb-4" placeholder="Client id"
              [(ngModel)]="client.client_id" name="clientId"> -->
        
            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" 
                      id="FirstName"              
                      class="form-control" 
                      placeholder="First name"
                      [(ngModel)]="client.client_name"
                      name = "FirstName"
        
                      maxlength="40"
                      #name="ngModel" 
                      required>
        
                    <div *ngIf = "name.valid || name.touched" class="">
                      <div *ngIf = "name.errors?.required" class="alert alert-danger">
                        Name is required
                      </div>
                    </div>
                      
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text"
                      id="LastName" 
                      class="form-control" 
                      placeholder="Last name"
                      [(ngModel)]="client.client_surname" 
                      name="LastName"
        
                      maxlength="40"
                      #surname="ngModel" 
                      required>
                    
                    <div *ngIf = "surname.valid || surname.touched" class="invalid-input">
                      <div *ngIf = "surname.errors?.required" class="alert alert-danger">
                        Surname is required
                      </div>
                    </div>
                </div>
            </div>
        
            <!-- Phone number -->
            <input type="text" 
              id="PhoneNumber" 
              class="form-control mb-4" 
              placeholder="Phone number" 
              aria-describedby="FormPhoneHelpBlock"
              [(ngModel)]="client.contact_num"
              name="contactNum"

              maxlength="15"
              #phonenum="ngModel" 
              required>
        
            <div *ngIf = "phonenum.touched" class="invalid-input">
              <div *ngIf = "phonenum.errors?.required" class="alert alert-danger">
                Phone number is required
              </div>
            </div>
            
            <!-- E-mail -->
            <input type="text" 
              id="defaultRegisterFormEmail" 
              class="form-control mb-4" 
              placeholder="E-mail"
              [(ngModel)]="client.email_address" 
              name="emailAddress"
        
              #email = "ngModel"
              required>
        
            <div *ngIf = "email.touched" class="invalid-input">
              <div *ngIf = "email.errors?.required" class="alert alert-danger">
                Email address is required
              </div>
              <div *ngIf = "email.errors?.email" class="alert alert-danger">
                Email address is not valid
              </div>
            </div>
        
            <!-- Address -->
            <input type="text" 
              id="defaultRegisterFormAddress" 
              class="form-control mb-4" 
              placeholder="Address"
              [(ngModel)]="client.address" 
              name="address"
        
              #address="ngModel" 
              required>
        
            <div *ngIf = "address.touched" class="invalid-input">
              <div *ngIf = "address.errors?.required" class="alert alert-danger">
                Address is required
              </div>
            </div>
            
            <button 
              type="submit"
              class='btn btn-outline-primary btn-lg'
              [disabled]="!f.form.valid"
              *ngIf="!submitted">
              Submit Details    
            </button>
        
            <div
              *ngIf="submitted"
              class="alert alert-success"
              role="alert"
            >
            Client details saved 
                <a routerLink="/vehicles" 
                class="alert-link" 
                value="Create">Click to enter VEHICLE details
                </a>
            </div>
           
        
        
        
            <hr>
        
            <!-- Terms of service -->
            <p>By clicking
                <em>Submit</em> you agree to our
                <a target="_blank">terms of service</a>
        
        </form>
    </div>
</div>






