

<section id="home">

  <div class="full-height" [ngStyle]="{'background-image': getUrl()}">

      <div class="home-text-wrapper relative container">
          <div class="home-message">
              <p>Welcome to NASH Insurer</p>
              <small>Please select one of the client options below to begin vehicle insurance processing.</small>
              <div class="btn-wrapper">
                  <div class="text-center">
                      <a routerLink="/clients" class="btn btn-primary wow slideInLeft">Individual client</a> &nbsp;&nbsp;&nbsp;
                      <a routerLink="/clientcorps" class="btn btn-default wow slideInRight">Corporate client</a>
                  </div>
              </div><!-- end row -->
          </div>
      </div>

  </div>
    
</section>


